.jumbotron {
	-webkit-box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.5);
	color: white;
	background: rgb(236,240,241);
	background: linear-gradient(90deg, rgba(236,240,241,1) 0%, rgba(241,196,15,1) 20%, rgba(230,126,34,1) 40%, rgba(232,58,58,1) 60%, rgba(41,128,185,1) 80%, rgba(140,193,82,1) 100%);
}

@font-face {
  font-family: 'Habbo';
  src: url('resources/HabboSlightTouch.ttf');
}


svg {
	width: 50%; height: auto
}

#footer {
	padding: 24px;
	background-color: #e2e3e5;
	color: #383d41;
	margin-top: 32px;
}

#right-col {
	border-radius: 8px;
	background-color: rgba(149, 165, 166,0.15);
	padding: 16px 0;
}

#left-col {
	border-right: 4px solid rgba(149, 165, 166,0.5);
	margin-right: 8px;
}
