.face {}

#cuberender {
    width: 100%;
    /* height: 200px; */
    text-align: center;
}

/* .half {
    float: left;
    width: 33.33%;
    text-align: center;
} */

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.sticker {
    border-radius: 8px;
    border: 2px solid white;
    background-color: #aab2bd;
    color: white;
}

.msticker {
    color: white;
    /* background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f00), color-stop(0.15, #f0f), color-stop(0.3, #00f), color-stop(0.45, #0ff), color-stop(0.6, #0f0), color-stop(0.75, #0f0), color-stop(0.9, #ff0), color-stop(1, #f00)); */
    /* background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22)); */
	background-color: black !important;
}

.esticker {
    background-color: #434A54 !important;
    color: white;
}

.usticker {
    background-color: #ecf0f1 !important;
    color: black;
}

.fsticker {
    background-color: #8CC152 !important;
    color: white;
}

.rsticker {
    background-color: #E83A3A !important;
    color: white;
}

.bsticker {
    background-color: #2980b9 !important;
    color: white;
}

.lsticker {
    background-color: #e67e22 !important;
    color: white;
}

.dsticker {
    background-color: #f1c40f !important;
    color: black;
}
